.reaction-bar {
  display: flex;
  gap: 12px;
  background-color: inherit;
  padding: 6px 12px;
  color: inherit;
  font-size: 14px;
  width: fit-content;
}

.reaction-left {
  display: flex;
  align-items: center;
  user-select: none;
  transition: color 0.2s;
}

.reaction-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.reaction-right span {
  line-height: 1;
}

.left-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 1px;
}

.right-btn {
  margin-left: auto;
  /* 👈 magic line */
  background: transparent;
  color: inherit;
  cursor: pointer;
  padding: 1px;
}